{% macro treeLabel(roleService, userRoles, role) %}
    <input type="checkbox" class="form-check-input" id="acl-tree-{{ role.code }}" name="acl[]" {% if roleService.hasRole(userRoles, role) %}checked{% endif %} value="{{ role.code }}">
    <label class="form-check-label" for="acl-tree-{{ role.code }}">{{- role.label|trans -}}</label>
{% endmacro %}

{% macro tree(roleService, userRoles, role) %}
    <li>
        {{- _self.treeLabel(roleService, userRoles, role) -}}
        {% set children = roleService.getRoleChildren(role) %}
        {% if children %}<ul>{% for child in children %}{{- _self.tree(roleService, userRoles, child) -}}{%  endfor %}</ul>{% endif %}
    </li>
{% endmacro %}

<form method="POST" action="{{ submitUrl }}">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card mb-3">
                <div class="card-header font-weight-bold">{{ 'spipu.core.role-type.profile'|trans }}</div>
                <div class="card-body">
                    <ul class="acl-profiles-list">
                        {% for profile in roleService.profiles %}
                            <li>{{ _self.treeLabel(roleService, userRoles, profile) }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card mb-3">
                <div class="card-header font-weight-bold">{{ 'spipu.core.role-type.role'|trans }}</div>
                <div class="card-body">
                    <ul class="acl-roles-list checkbox-tree" data-tree-code="acl-roles">
                        {% for role in roleService.roles %}
                            {{ _self.tree(roleService, userRoles, role) }}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn-success btn col-12"><i class="fas fa-edit"></i> {{ 'spipu.user.action.save_acl'|trans }}</button>
        </div>
    </div>
</form>